body {
  margin: 0;
  margin-right: 50px;
  margin-left: 50px;
}

img {
  display: block;
  border-top: 8px;
  width: 250px;
  height: 150px;
  margin: 0;
  cursor: pointer;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

.gallery {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photo-card {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 5px;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f56b4;
  box-shadow: 2px 5px 5px #b0b0b0;
}

.search-container {
  padding: 10px 20px;
}

.search-form {
  display: flex;
}

.search-svg {
  fill: #555555;
}

.load-more {
  margin-top: 15px;
  background-color: #fff;
  color: #000;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 15px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.main-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
